<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li>
      <a href="{{ site.url }}/2013/">
        Project Ideas
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/2013/project-ratings/">
        Project Ratings
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/student-guidelines/">
        Student Guidelines
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/application-template/">
        Application Template
      </a>
    </li>
  </ul>
</div>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Important Dates</li>
    <li class="calendar">
      <div class="bullet"></div>
      March 18th to 29th: Organization application submission period.
    </li>
    <li class="calendar">
      <div class="bullet"></div>
      April 8th: Accepted organizations announced.
    </li>
    <li class="calendar">
      <div class="bullet"></div>
      April 22nd to May 3rd: Student application period.
    </li>
    <li class="calendar">
      <div class="bullet"></div>
      May 27th: Accepted student proposals announced.
    </li>
  </ul>
</div>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Follow Us</li>
    <li>
      <a href="http://wxwidgets.blogspot.com/" title="Developer Blog">
        <i class="icon-pencil"></i>
        Developer Blog
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+wxwidgets">
        <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16">
        Google+
      </a>
    </li>
  </ul>
</div>
