<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li><a href="{{ site.url }}/2013/">2013 Project Ideas</a></li>
  </ul>
</div>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Follow Us</li>
    <li>
      <a href="http://wxwidgets.blogspot.com/" title="Developer Blog">
        <i class="icon-pencil"></i>
        Developer Blog
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+wxwidgets">
        <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16">
        Google+
      </a>
    </li>
  </ul>
</div>